#enkacard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#enkacard #enkacard_headbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 80%;
    flex-wrap: wrap;
}
#enkacard #enkacard_headbar .imgdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}
#enkacard #enkacard_headbar .imgdiv:hover {
    cursor: pointer;
}
#enkacard #enkacard_headbar img {
    width: 48px;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#enkacard #enkacard_headbar .imgdiv:hover > img {
    width: 56px;
}
#enkacard #enkacard_detail {
    width: 100%;
}
#enkacard #enkacard_detail_img {
    width: 100%;
}