#enkacard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#enkacard #enkacard_headbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 100%;
    flex-wrap: wrap;
}
#enkacard #enkacard_headbar .imgdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}
#enkacard #enkacard_headbar .imgdiv:hover {
    cursor: pointer;
}
#enkacard #enkacard_headbar img {
    width: 48px;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px 0px whitesmoke;
    border: 0px;
    border-radius: 5px 5px 10px 5px;
}
#enkacard #enkacard_headbar .rarity5 {
    background-image: linear-gradient(rgb(182,130,75), rgb(211,143,68));
}
#enkacard #enkacard_headbar .rarity4 {
    background-image: linear-gradient(rgb(135,122,169),rgb(164,133,195));
}
#enkacard #enkacard_headbar .rarity5,
#enkacard #enkacard_headbar .rarity4 {
    width: 56px;
    box-shadow: 2px 2px 2px 1px whitesmoke;
}
#enkacard #enkacard_detail {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#enkacard #enkacard_detail_img {
    max-width: 100%;
}